body{
    background:#15917c(211, 64, 145);
}
.loginform {
    background-color: aliceblue;
    width: 400px;
    padding: 50px;
    overflow: hidden;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 0 50px skyblue;
}

.loginform input {
    width: 88%;
    display: block;
    padding: 20px;
    border: none;
    background: white;
    margin-bottom: 20px;
    font-size: 15px;
}

.loginbut {
    background: linear-gradient(#13927d, #15917c);
    color: cornsilk;
    font-size: 18px !important;
    width: 100% !important;
}

.loginform h2 {

    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    color: darkgrey;
    text-shadow: 1px 1px 1px skyblue;
}

.loginform {
    background: linear-gradient(#15917c, #15917c);
}